{% extends "admin/parts/form.twig" %}
{% block data %}
    {% if not new %}
        <div class="form-group">
            <label class="col-md-3 control-label">Id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="id" value="{{record.id}}" readonly> 
            </div>
        </div>
    {% endif %}
        <div class="form-group">
            <label class="col-md-3 control-label">Название</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" value="{{record.name}}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Описание</label>
            <div class="col-md-9">
                <textarea class="form-control" rows="5" name="description" >{{record.description}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Цена</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="price" value="{{record.price}}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Производитель</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="producer" value="{{record.producer}}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Брэнд </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="brand" value="{{record.brand}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Ссылка</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="viewUrl" value="{{record.viewUrl}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Иконка</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="thumbnailUrl" value="{{record.thumbnailUrl}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Дата добавления</label>
            <div class="col-md-9">
                <input class="form-control input-medium date-picker" size="16"data-date-format="dd.mm.yyyy"  type="text" name="addDate" value="{{record.addDate}}">
                <input type="text" class="form-control" name="addDate" value="{{record.addDate}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Пользователь</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="addUserId" value="{{record.addUserId}}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Подкатегория</label>
            <div class="col-md-9">
                <select class="form-control" name="goodsSubCategoryId">
                    {% for goodsSubCategory in goodsSubCategories %}
                        {% if goodsSubCategory.id == record.goodsSubCategoryId %}
                            <option selected value="{{goodsSubCategory.id}}">{{goodsSubCategory.name}}</option>
                        {% else %}
                            <option value="{{goodsSubCategory.id}}">{{goodsSubCategory.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Тип</label>
            <div class="col-md-9">
                <select class="form-control" name="goodsTypeId">
                    {% for goodsType in goodsTypes %}
                        {% if goodsType.id == record.goodsTypeId %}
                            <option selected value="{{goodsType.id}}">{{goodsType.name}}</option>
                        {% else %}
                            <option value="{{goodsType.id}}">{{goodsType.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Подтип</label>
            <div class="col-md-9">
                <select class="form-control" name="goodsSubTypeId">
                    {% for goodsSubType in goodsSubTypes %}
                        {% if goodsSubType.id == record.goodsSubTypeId %}
                            <option selected value="{{goodsSubType.id}}">{{goodsSubType.name}}</option>
                        {% else %}
                            <option value="{{goodsSubType.id}}">{{goodsSubType.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Заказ</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="offerid" value="{{record.offerid}}">
            </div>
        </div>                                                  
{% endblock %}