{%extends 'html.twig' %}

{% block content %}


	<div class="content clearfix">

		<div class="center kat">

			<div class="banner-width">
				<noindex>
				{{adverts.top_fullwidth|raw}}
				</noindex>
			</div>
            {% if content.cattitle %}<h1>{{content.cattitle}}</h1>{% endif %}
            {% if content.brands.o|length > 0 %}
			<div class="part">

				<h4>0-9</h4>

				<div class="inner-ul">

					<ul class="ul1">
                        {% for brand in content.brands.o %}
                        <li><a href="/brand/{{brand.id}}">{{brand.name}}</a></li>
                        {% if content.brands.o|length/4 > 1 %}                        
                            {% if loop.index%((content.brands.o|length/4)|round) == 0 %}
	                        </ul><ul  class="ul{{loop.index/((content.brands.o|length/4)|round)+1}}">
                            {% endif %}                       
                        {% endif %}
                        {% endfor %}
					</ul>


                    {% if content.brands.o|length > 24 %}
					<div class="showmorebrand">
						<a href="#">показать еще</a>
					</div>
                    {% endif %}

				</div>

			</div>
            {% endif %}
            {% if content.brands.a|length > 0 %}
			<div class="part">

				<h4>A-D</h4>

				<div class="inner-ul">

					<ul class="ul1">
                        {% for brand in content.brands.a %}
                        <li><a href="/brand/{{brand.id}}">{{brand.name}}</a></li>
                        {% if content.brands.a|length/4 > 1 %}
                            {% if loop.index%((content.brands.a|length/4)|round) == 0 %}
                                </ul><ul  class="ul{{loop.index/((content.brands.a|length/4)|round)+1}}">                       
                            {% endif %}
                        {% endif %}
                        {% endfor %}
					</ul>
                    {% if content.brands.a|length > 24 %}
					<div class="showmorebrand">

						<a href="#">показать еще</a>

					</div>
                    {% endif %}

				</div>

			</div>
            {% endif %}
            {% if content.brands.e|length > 0 %}
			<div class="part">

				<h4>E-H</h4>

				<div class="inner-ul">

					<ul class="ul1">
                        {% for brand in content.brands.e %}
                        <li><a href="/brand/{{brand.id}}">{{brand.name}}</a></li>
                        {% if content.brands.e|length/4 > 1 %}
                            {% if loop.index%((content.brands.e|length/4)|round) == 0 %}
	                            </ul><ul  class="ul{{loop.index/((content.brands.e|length/4)|round)+1}}">
                            {% endif %}                       
                        {% endif %}
                        {% endfor %}
					</ul>

                    {% if content.brands.e|length > 24 %}
					<div class="showmorebrand">

						<a href="#">показать еще</a>

					</div>
                    {% endif %}

				</div>

			</div>
            {% endif %}
            {% if content.brands.i|length > 0 %}
			<div class="part">

				<h4>I-L</h4>

				<div class="inner-ul">

					<ul class="ul1">
                        {% for brand in content.brands.i %}
                        <li><a href="/brand/{{brand.id}}">{{brand.name}}</a></li>
                        {% if content.brands.i|length/4 > 1 %}
                            {% if loop.index%((content.brands.i|length/4)|round) == 0 %}
                                </ul><ul  class="ul{{loop.index/((content.brands.i|length/4)|round)+1}}">                       
                            {% endif %}
                        {% endif %}
                        {% endfor %}
					</ul>

                    {% if content.brands.i|length > 24 %}
					<div class="showmorebrand">

						<a href="#">показать еще</a>

					</div>
                    {% endif %}

				</div>

			</div>
            {% endif %}
            {% if content.brands.m|length > 0 %}
			<div class="part">

				<h4>M-P</h4>

				<div class="inner-ul">

					<ul class="ul1">
                        {% for brand in content.brands.m %}
                        <li><a href="/brand/{{brand.id}}">{{brand.name}}</a></li>
                        {% if content.brands.m|length/4 > 1 %}
                            {% if loop.index%((content.brands.m|length/4)|round) == 0 %}
                                </ul><ul  class="ul{{loop.index/((content.brands.m|length/4)|round)+1}}">                       
                            {% endif %}
                        {% endif %}
                        {% endfor %}
					</ul>

                    {% if content.brands.m|length > 24 %}
					<div class="showmorebrand">

						<a href="#">показать еще</a>

					</div>
                    {% endif %}

				</div>

			</div>
            {% endif %}
			<div class="onlymobile">
				<noindex>
				{{adverts.mobile_brands|raw}}
				</noindex>
			</div>
            {% if content.brands.q|length > 0 %}
			<div class="part">

				<h4>Q-T</h4>

				<div class="inner-ul">

					<ul class="ul1">
                        {% for brand in content.brands.q %}
                        <li><a href="/brand/{{brand.id}}">{{brand.name}}</a></li>
                        {% if content.brands.q|length/4 > 1 %}
                            {% if loop.index%((content.brands.q|length/4)|round) == 0 %}
                                </ul><ul  class="ul{{loop.index/((content.brands.q|length/4)|round)+1}}">                       
                            {% endif %}
                        {% endif %}
                        {% endfor %}
					</ul>

                    {% if content.brands.q|length > 24 %}
					<div class="showmorebrand">

						<a href="#">показать еще</a>

					</div>
                    {% endif %}

				</div>

			</div>
            {% endif %}
            {% if content.brands.u|length > 0 %}
			<div class="part">

				<h4>U-Z</h4>

				<div class="inner-ul">

					<ul class="ul1">
                        {% for brand in content.brands.u %}
                        <li><a href="/brand/{{brand.id}}">{{brand.name}}</a></li>
                        {% if content.brands.u|length/4 > 1 %}
                            {% if loop.index%((content.brands.u|length/4)|round) == 0 %}
                                </ul><ul  class="ul{{loop.index/((content.brands.u|length/4)|round)+1}}">                       
                            {% endif %}
                        {% endif %}
                        {% endfor %}
					</ul>

                    {% if content.brands.u|length > 24 %}
					<div class="showmorebrand">

						<a href="#">показать еще</a>

					</div>
                    {% endif %}

				</div>

			</div>
            {% endif %}
			<div class="kakoito-text">			
		<!--	{{additional.promotextbtm|raw}} вывод разного текста для подкатегорий брендов--->
			</div>

		</div>

		{% include 'parts/menu.twig'%}

        {#
		<aside class="side-right">
			<noindex>
			{{adverts.right_banners|raw}}
			</noindex>
		</aside>
        #}		
	</div>		
{% endblock %}