{% extends "moderator/parts/form.twig" %}
{% block data %}
    {% if not new %}
        <div class="form-group">
            <label class="col-md-3 control-label">Id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="id" value="{{record.id}}" readonly> 
            </div>
        </div>
    {% else %}
    {% endif %}
        <div class="form-group">
            <label class="col-md-3 control-label">Адрес <span class="required">*</span></label>
            <div class="col-md-9">
                <input type="text" class="form-control" data-required="1" name="name" value="{{ record.name ? record.name : 'New metro station name' }}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Широта</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="latitude" value="{{ record.latitude ? record.latitude : '' }}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Долгота</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="longitude" value="{{ record.longitude ? record.longitude : '' }}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Город</label>
            <div class="col-md-9">
                <select class="form-control" name="cityId">
                    {% for city in cities %}
                        {% if city.id == record.cityId %}
                            <option selected value="{{city.id}}">{{city.name}}</option>
                        {% else %}
                            <option value="{{city.id}}">{{city.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
{% endblock %}