{% extends "admin/parts/form.twig" %}
{% block data %}
    {% if not new %}
        <div class="form-group">
            <label class="col-md-3 control-label">Id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="id" value="{{record.id}}" readonly> 
            </div>
        </div>
    {% endif %}
        <div class="form-group">
            <label class="col-md-3 control-label">Название</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" value="{{record.name}}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Описание</label>
            <div class="col-md-9">
                <textarea class="form-control" rows="5" name="description" >{{record.description}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Тип</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="type"  value="{{record.type|default('SALE')}}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3 control-label">Title</label>
            <div class="col-md-9">
                <input class="form-control" size="80" name="meta_title" value="{{record.meta_title|raw}}"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Description</label>
            <div class="col-md-9">
                <textarea class="form-control" rows="3" name="meta_description">{{record.meta_description}}</textarea>
            </div>
        </div>    
        <div class="form-group">
            <label class="col-md-3 control-label">Keywords</label>
            <div class="col-md-9">
                <textarea class="form-control" rows="6" name="meta_keywords">{{record.meta_keywords}}</textarea>
            </div>
        </div>    

        <div class="form-group">
            <label class="col-md-3 control-label">Верхний текст</label>
            <div class="col-md-9">
                <textarea class="ckeditor form-control" rows="10" name="top_text">{{record.top_text}}</textarea>
            </div>
        </div>             
        <div class="form-group">
            <label class="col-md-3 control-label">Нижний текст</label>
            <div class="col-md-9">
                <textarea class="ckeditor form-control" rows="10" name="bottom_text">{{record.bottom_text}}</textarea>
            </div>
        </div>           

{% endblock %}