{% extends "admin/parts/form.twig" %}
{% block data %}
    {% if not new %}
        <div class="form-group">
            <label class="col-md-3 control-label">Id</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="id" value="{{record.id}}" readonly> 
            </div>
        </div>
    {% endif %}
        <div class="form-group">
            <label class="col-md-3 control-label">Название</label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" value="{{record.name}}"> 
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Описание</label>
            <div class="col-md-9">
                <textarea class="form-control" rows="5" name="description" >{{record.description}}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">Категория</label>
            <div class="col-md-9">
                <select class="form-control" name="categoryId">
                    {% for category in categories %}
                        {% if category.id == record.categoryId %}
                            <option selected value="{{category.id}}">{{category.name}}</option>
                        {% else %}
                            <option value="{{category.id}}">{{category.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
{% endblock %}
