{% extends "admin/parts/table.twig" %}
{% block data %}
    <thead>
    <tr>
        <th>id</th>
        <th>Описание</th>
        <th>id Компании</th>
        <th>Город</th>
        <th>Отмодерировано</th>
        <th>Одобрено</th>
        <th>Причина отказа</th>
        <th>Модератор</th>
        <th>Дата модерирования</th>
        <th>Шаблон описания</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {% for data in records %}
        <tr id="{{data.id}}" class="odd gradeX">
            <td>{{data.id}}</td>
            <td>{{data.description}}</td>
            <td>{{data.CompanyId}}</td>
            <td>{{data.CityId}}</td>
            <td>{{data.moderated}}</td>
            <td>{{data.accepted}}</td>
            <td>{{data.declineMessage}}</td>
            <td>{{data.moderatorId}}</td>
            <td>{{data.moderateDate}}</td>
            <td>{{data.descriptionTemplate}}</td>
            <td>
                <a href="{{site_url()}}{{uri_string()}}/{{data.id}}" target="_blank" class="btn btn-outline purple btn-sm"><i class="fa fa-pencil-square-o"></i> Редактировать </a>
                <a href="#basic" data-toggle="modal" onClick="urlToModal('{{site_url()}}{{uri_string()}}/{{data.id}}/remove');" class="btn btn-outline red btn-sm"><i class="fa fa-trash-o"></i> Удалить</a>         
            </td>
        </tr>
        {% endfor %}
    </tbody>  
    {% include 'admin/parts/removeModal.twig' %}               
{% endblock %}
